
    
 <script src="/js/jquery-3.5.1.js"></script>
 <script src="/js/popper.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
 <script src="/js/wow.min.js"></script>
 <script src="/js/inde_main.js"> </script>
</body>

</html>